@font-face {
	font-family: 'Neue Haas Unica';
	src: url('fonts/NeueHaasUnica-Regular.ttf') format('truetype');
	font-weight: 100;
 }

 @font-face {
	font-family: 'Neue Haas Unica';
	src: url('fonts/NeueHaasUnica-Italic.ttf') format('truetype');
	font-weight: 200;
 }

 @font-face {
	font-family: 'Neue Haas Unica';
	src: url('fonts/NeueHaasUnica-Bold.ttf') format('truetype');
	font-weight: 300;
 }

:root{
    --type: 18px;
    --leading: 22px;
    --circle-size: 15px;
}


body{
    width: 100vw;
    height: 100vh;
    margin-top: -30px;
    /* background-color: red; */
    font-family: 'Neue Haas Unica';
    font-weight: 100;
    font-size: var(--type);
    line-height: var(--leading);
    cursor: url("cursors/blue-cursor.png"), pointer;
}

nav{
    /* margin-top: 20px;
    margin-bottom: 210px; */
    gap: 50px;
    left: -10px;
    /* left: 0px; */
    /* top: -30px; */
    top: 15px;
    position: fixed;
    z-index: 2;
    font-weight:100;
}

video{
    width: 100%;
}

.name{
    font-weight: 100;
}

.activenow{
    border-bottom: 1px black solid;
}


section{
    /* margin: 10px; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 66px;
    /* background-color: #ff3f93; */
}

aside{
    margin-left: 0px;
}

.header{
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin: 10px;
    margin-left: 20px;
}

.project-type-title{
    display: none;
}

.visible{
    display: block;
}

.project-year-title{
    display: none;
}

.line{
    width: 100%;
    height: 1px;
    background-color: black;
}

.project{
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-info{  
    margin-left: 10px;
}


.project-info:hover{
    color: rgb(152, 152, 152);
    cursor: url("cursors/blue-cursor.png"), pointer;
}

.project-name{
    display: flex;
    flex-direction: row;
}

.indent{
    margin-left: -10px;
}

.project-type{
    margin-top: 10px;
    margin-left: 23px;
}

.project-year{
    margin-top: 10px;
    margin-left: 23px;
}

h1{
    width: 135px;
    /* background-color: red; */
}

p{
    margin-top: 30px;
}

.underline{
    text-decoration: underline;
}

.two-buttons{
    position: fixed;
    bottom: 20px;
    /* bottom: 10px; */
    /* right: 24px; */
    right: calc(50% - 100px);
    /* right: 32px; */
}


button{
    width: auto;
    height: auto;
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 20px;
    margin: 2px;
    background-color: white;
}

button:hover{
    opacity: 0.7;
}

.top{
    margin-right: 10px;
    text-decoration: none;
}

#eggtoTop{
    background-color: #F15825;
    color: white;
}


#eggtoTop:hover{
    cursor: url("cursors/orange-cursor.png"), pointer;
}


#egg-close{
    background-color: #F15825;
    color: white;
}


#orangeTop:hover{
    cursor: url("cursors/orange-cursor.png"), pointer;
}

#orangeTop:hover{
    cursor: url("cursors/orange-cursor.png"), pointer;
}

.eggsploration:hover{
    cursor: url("cursors/orange-cursor.png"), pointer;
}

/* boobs */
#boobtoTop{
    background-color: #F7D6FA;
    color: black;
}


#boobtoTop:hover{
    cursor: url("cursors/pink.png"), pointer;
}


#boob-close{
    background-color: #F7D6FA;
    color: black;
}

#boob-close:hover{
    cursor: url("cursors/pink-cursor.png"), pointer;
}

#lightpinkTop:hover{
    cursor: url("cursors/pink-cursor.png"), pointer;
}

.boob-stickers:hover{
    cursor: url("cursors/pink-cursor.png"), pointer;
}

/* bright */
#brighttoTop{
    background-color: #00FF00;
    color: black;
}


#brighttoTop:hover{
    cursor: url("cursors/bright-green-cursor.png"), pointer;
}


#bright-close{
    background-color: #00FF00;
    color: black;
}


#bright-close:hover{
    cursor: url("cursors/bright-green-cursor.png"), pointer;
}

#greenTop:hover{
    cursor: url("cursors/bright-green-cursor.png"), pointer;
}

.bright:hover{
    cursor: url("cursors/bright-green-cursor.png"), pointer;
}

/* bata */
#batatoTop{
    background-color: #CC0033;
    color: white;
}


#batatoTop:hover{
    cursor: url("cursors/red-cursor.png"), pointer;
}


#bata-close{
    background-color: #CC0033;
    color: white;
}

#bata-close:hover{
    cursor: url("cursors/red-cursor.png"), pointer;
}

#redTop:hover{
    cursor: url("cursors/red-cursor.png"), pointer;
}

.bata:hover{
    cursor: url("cursors/red-cursor.png"), pointer;
}

.description-container{
    display: grid;
    grid-template-columns: 1fr;
 }

/* circle stuff */
.circle{
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 8px;
}

.circle-animation{
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 8px;
}

#blue{
    background-color: #0000FF;
}

#orange{
    background-color: #F15825;
}

.orange-cursor{
    cursor: url("cursors/orange-cursor.png"), pointer;
}

#light-pink{
    background-color: #F7D6FA;
}

.pink-cursor{
    cursor: url("cursors/pink-cursor.png"), pointer;
}

#bright-green{
    background-color: #00FF00;
}

#red{
    background-color: #CC0033;
}

.red-cursor{
    cursor: url("cursors/red-cursor.png"), pointer;
}

#purple{
    background-color: #B27EED;
}

#light-blue{
    background-color: #4EEDFF;
}

#dark-green{
    background-color: #09AF00;
}

#bright-pink{
    background-color: #ff3f93;
}

.bright-green-cursor{
    cursor: url("cursors/bright-green-cursor.png"), pointer;
}

/* project toggle stuff */
/* aside{
    overflow: hidden;
    height: 100%;
    transition: height 0.5s ease-in-out;
}

aside.active{
    height: 0;
    transition: height 0.5s ease-in-out;
} */

.eggsploration-info {
    /* overflow: hidden;
    max-height: 0;
    transition: all 0.6s ease-in-out; */
    display: none;
    padding: 34px;
    padding-top: 0px;
 }

 .eggsploration-info.active {
    /* overflow: auto;
    max-height: 100%; */
    display: block;
 }


 .boob-stickers-info {
    display: none;
    padding: 34px;
    padding-bottom: 14px;
    padding-top: 0px;
 }

 .boob-stickers-info.active {
    display: block;
 }

 .bright-info {
    display: none;
    padding: 34px;
    padding-top: 0px;
 }

 .bata-info.active {
    display: block;
 }

 .bata-info {
    display: none;
    padding: 34px;
    padding-top: 0px;
 }

 .bright-info.active {
    display: block;
 }
 

 .fullwidth{
    width: 100%;
    margin-bottom: 6px;
    margin-top: 10px;
    /* width: calc(100% - 40px); */
    /* margin-left: 20px;
    margin-right: 20px; */
    /* margin-left: 33px;
    margin-right: 33px; */
 }

 .two-images{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 14px;
    gap: 0px;
 }

 .image-border{
    border: 1.2px solid black;
    border-radius: 8px;
 }

 .sidebyside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    /* margin-left: 33px; */
    /* padding: 4px; */
    /* width: calc(100% - 40px); */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* margin-right: 33px; */
    /* padding-top: 5px; */
  }

.logo{
    width: 180px;   
    margin-left: calc(50% - 100px);
}

 .image-container{
    margin-top: 20px;
 }

 @media (min-width: 660px) {

    h1{
        /* width: 26vw; */
        /* background-color: violet; */
    }

    .project{
        margin-top: 8px;
        margin-bottom: 8px;
    }


    .project-type-title{
        display: flex;
        margin: 0px;
    }

    .project-type{
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .project-year-title{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
    }

    .project-year{
        margin: 0px;
    }

    .header{
        gap: 50px;
        margin-top: 55px;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    nav{
        left: 0px;
        top: -30px;
        width: 100%;
    }

    aside{
        margin-left: 8px;
        margin-right: 8px;
    }
    
    .indent{
        margin-left: 0px;
    }
    
    .project-info{
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 10px;  
    margin-left: 20px;  
    /* margin-left: 20px; */
    }

    .project-info li{
        /* background-color: red; */
    }

    .two-images{
        flex-direction: row;
        /* max-width: 100%; */
        width: 50%;
        /* width: 49.2%; */
     }


    .sidebyside {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 2%;
        width: 98%;
    }

    .logo{
        width: px;   
        margin-left: calc(50% - 100px);
    }

    p{
        max-width: 60vw;
        /* background-color: green; */
    }
    
    .description-container{
        display: grid;
        grid-template-columns: 1fr, 1fr;
        /* gap: 100px; */
     }

     .two-buttons{
        bottom: 10px;
        right: 32px;
    }
    
 }


 @media (min-width: 1100px) {

    p{
        /* margin-left: 20px; */
        /* margin-right: 20px;
        margin-top: 30px; */
        max-width: 34vw;
    }
    
    .description-container{
        display: grid;
        grid-template-columns: 1fr, 1fr;
     }

     .project-info{
        gap: 180px;
    }

    .header{
        gap: 180px;
    }


        
 }
