:root{
    --header: 40px;
    --header-leading: calc(var(--header) + 8px);
    --subhead: calc(var(--header) / 1.6);
    --thirdhead: calc(var(--header) / 1.8);
    --body: calc(var(--header) / 2.4);
    --body-leading: calc(var(--header) / 1.85);
    --button: 14px;
    --left-margin: 15px;
    --spacing: 135px;
    --text-color: red;
    --other-color: white;
}

@font-face {
	font-family: 'PP Editorial New';
	src: url('../fonts/PPEditorialNew-Regular.otf') format('truetype');
    font-weight: 100;
 }

 @font-face {
	font-family: 'Authentic Sans';
	src: url('../fonts/AUTHENTICSans-60.otf') format('truetype');
    font-weight: 100;
 }

 @font-face {
	font-family: 'Authentic Sans';
	src: url('../fonts/AUTHENTICSans-90.otf') format('truetype');
    font-weight: 200;
 }


body{
    font-family: 'PP Editorial New';
}

nav{
    position: fixed;
    top: 20px;
    left: calc(var(--left-margin) - 9px);
    margin-left: 14px;
    gap: 10px;
    /* background-color: purple;
    width: 350px;
    height: 40px; */
}

.button{
    font-family: 'Authentic Sans';
    font-weight: 100;
    font-size: var(--button);
    /* border-bottom: 1px var(--text-color) solid; */
    /* background-color: var(--other-color); */
    color: var(--text-color);
    margin: 8px;
    padding: 8px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    /* border-radius: 25px; */
}

button:hover{
    cursor: pointer;
}

.button:hover{
    cursor: pointer;
}

.selected{
    /* background-color: var(--text-color); */
    color: var(--text-color);
    border-bottom: 1px var(--text-color) solid;
}

h1{
    font-size: var(--header);
    line-height: var(--header-leading);
    /* font-weight: bold; */
    margin-left: calc(var(--left-margin) + 5px);
    margin-top: 114px;
    color: var(--text-color);
}

h2{
    font-size: var(--subhead);
    /* font-weight: bold; */
    margin-left: calc(var(--left-margin) + 5px);
    margin-top: 30px;
    color: var(--text-color);
}

h3{
    margin-left: calc(var(--left-margin) + 30px);
    font-size: var(--thirdhead);
}

p{
    font-family: 'Authentic Sans';
    font-size: var(--body);
    font-weight: 100;
    line-height: var(--body-leading);
    margin-left: calc(var(--left-margin) + 5px);
    margin-top: 6px;
    max-width: 46ch;
    margin-right: 20px;
}

.description{
    margin-top: 20px;
    margin-left: 21px;
    max-width: 55ch;
}


em{
    font-style: italic;
}


input{
    border: 1px var(--text-color) solid;
}

#maple-leaf{
    width: 30px;
    stroke-width: 14px;
    margin-top: 10px;
    margin-right: 5px;
    position: relative;
    top: 10px;
}

.cls-1{
    fill: none;
    stroke: red;
    stroke-miterlimit: 56;
    stroke-width: 12px;
}

.fill{
    fill: white;
}


@media (min-width: 500px) {

    button:hover{
        opacity: 0.7; 
    }
    
    .button:hover{
        opacity: 0.7;
    }

    .button{
        margin: 10px;
    }
}

@media (min-width: 700px) {
    :root{
        --header: 80px;
        --left-margin: 30px;
        --body: calc(var(--header) / 3.6);
        --body-leading: calc(var(--header) / 2.6);
        --button: 20px;
    }

    nav{
        position: fixed;
        /* top: 40px; */
        left: calc(var(--left-margin) - 2px);
    }

    h1{
        margin-left: 40px;
    }

    h2{
        margin-left: 40px;
    }

    p{
        margin-left: 40px;
        max-width: 42ch;
    }

    #maple-leaf{
        margin-right: 10px;
    }

    .description{
        margin-top: 20px;
        margin-left: 36px;
        max-width: 55ch;
    }

}

@media (min-width: 1100px) {
    :root{
        --header: 90px;
        --body: 22px;
        --body-leading: 31px;
        
    }

    p{
        max-width: 52ch;
    }
}