@font-face {
	font-family: 'Neue Haas Unica';
	src: url('../fonts/NeueHaasUnica-Regular.ttf') format('truetype');
	font-weight: 100;
 }

 @font-face {
	font-family: 'Neue Haas Unica';
	src: url('../fonts/NeueHaasUnica-Italic.ttf') format('truetype');
	font-weight: 200;
 }

 @font-face {
	font-family: 'Neue Haas Unica';
	src: url('../fonts/NeueHaasUnica-Bold.ttf') format('truetype');
	font-weight: 300;
 }
 

:root{
    --type: 17.5px;
    --leading: 22px;
    --circle-size: 15px;
}


body{
    width: 100vw;
    height: 100vh;
    margin-top: -30px;
    font-family: 'Neue Haas Unica';
    font-weight: 100;
    /* font-family: "neue-haas-grotesk-text", sans-serif; */
    /* font-weight: 400; */
    font-style: normal;
    font-size: var(--type);
    line-height: var(--leading);
    /* cursor: url("../cursors/blue-cursor.png"), pointer; */
    /* cursor: url("../cursors/cursor.svg") x y, pointer; */
}

strong{
    font-weight: 300;
    /* font-family: "neue-haas-grotesk-text", sans-serif; */
    font-weight: 700;
    font-style: normal;
}

em{
    /* font-family: "neue-haas-grotesk-text", sans-serif; */
    font-weight: 200;
    /* font-style: italic; */
}

.bottom-margin{
    margin-top: 88px;
    margin-bottom: 22px;
}

.top-margin-small{
    margin-top: 20px;
}

/* body:hover{
    cursor: url("../cursors/blue-cursor.png"), pointer;
} */


/* for navigation */
nav{
    gap: 50px;
    left: -10px;
    top: 15px;
    position: fixed;
    z-index: 2;
    font-weight:100;
}


.name{
    font-weight: 100;
}

/* .name:hover{
    cursor: url("../cursors/blue-cursor.png"), pointer;
} */

.activenow{
    border-bottom: 1px black solid;
}


/* placement of index */
section{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 66px;
}

/* index headers */
.header{
    /* font-weight: 300; */
    /* font-family: "neue-haas-grotesk-text", sans-serif; */
    font-weight: 700;
    font-style: normal;

    margin-top: 25px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin: 10px;
    margin-left: 20px;
}

.project-type-title{
    display: none;
}

.project-year-title{
    display: none;
}

.visible{
    display: block;
}


.project{
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-info{  
    margin-left: 10px;
}

.process-grid{
    margin-left: 0px;
}


.project-info:hover{
    color: rgb(152, 152, 152);
    /* cursor: url("../cursors/blue-cursor.png"), pointer; */
}

h2{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

h2:hover{
    cursor:pointer;
}

.project-name{
    display: flex;
    flex-direction: row;
}

.indent{
    margin-left: -10px;
}

.project-type, .project-year{
    margin-top: 10px;
    margin-left: 23px;
}
/* 
.project-year{
    margin-top: 10px;
    margin-left: 23px;
} */

.line{
    width: 100%;
    height: 1px;
    background-color: black;
}

h1{
    width: 129px;
}

p{
    margin-top: 30px;
}

.project-list{
    list-style-type:disc;
    margin-left: 20px;
    margin-top: 30px;
}

.project-list li{
    margin-top: 10px;
}

.other-list{
    list-style-type:disc;
    margin-left: 20px;
    margin-top: 0px;
}


.description-container{
    display: grid;
    grid-template-columns: 1fr;
 }

.underline{
    text-decoration: underline;
}

.half-text{
    width: 100%;
    margin-top: 10px;
    /* background-color: red; */
}

.top-margin{
    margin-top: 40px;
}

.no-top{
    margin-top: 0px;
    /* padding-right: 10px; */
}

.bullet-header{
    margin-left: -20px;
}

.new-part{
    margin-top: 60px;
}

.next-steps{
    margin-top: 40px;
}

/* image styling */
.image-container{
    margin-top: 20px;
 }

 .fullwidth{
    width: 100%;
    margin-bottom: 6px;
    margin-top: 10px;
 }

 .two-images{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 14px;
    gap: 0px;
 }

 .image-margin{
    position: relative;
    left: 0px;
 }

video {
    width: 100%;
}



 .image-border{
    border: 1.2px solid black;
    border-radius: 8px;
 }
 
 /* .no-top{
    margin-top: 20px;
} */

 .sidebyside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }


  .video-background{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: #181818;
    padding: 40px;
    padding-bottom: 5px;
}

#orange-red-background{
    /* background-color: #f6391c; */
}

.small-video{
    width: 100%;
    /* margin-top: 20px; */
    margin-bottom: 35px;
    border-radius: 10px;
}


.sidebyside-video {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }

  .two-videos{
    width: 100%;
    /* margin-top: 20px; */
    margin-bottom: 35px;
}


.three-image-background{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: #181818;
    padding: 40px;
    padding-bottom: 5px;
}

.image-third{
    width: 100%;
    /* margin-top: 20px; */
    margin-bottom: 35px;
    border-radius: 20px;
    /* border-radius: 20px; */
}

/* bata logo */
.logo{
    width: 180px;   
    margin-left: calc(50% - 100px);
}


/* close and top button styling */
.two-buttons{
    position: fixed;
    bottom: 20px;
    /* bottom: 10px; */
    /* right: 24px; */
    right: calc(50% - 100px);
    /* right: 32px; */
}

button{
    width: auto;
    height: auto;
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 20px;
    margin: 2px;
    background-color: white;
}

button:hover{
    opacity: 0.7;
    cursor:pointer;
}

.top{
    margin-right: 10px;
    text-decoration: none;
}

/* googlie buttons */
#googlietoTop{
    background-color: #FFD600;
    color: black;
}

#googlie-close{
    background-color: #FFD600;
    color: black;
}

#setthebar-close{
    outline: white solid 1pt;
    background-color: black;
    color: white;
}

#setthebartoTop{
    outline: white solid 1pt;
    background-color: black;
    color: white;
}


/* magazzino buttons */
#magazzinotoTop{
    background-color: #b40000;
    color: white;
}

#magazzino-close{
    background-color: #b40000;
    color: white;
}

#theartpod-close{
    outline: black solid 1pt;
    background-color: white;
    color: black;
}

#theartpodtoTop{
    outline: black solid 1pt;
    background-color: white;
    color: black;
}

#wesleyan-close{
    background-color: #ff2600;
    color: white;
}

#wesleyantoTop{
    background-color: #ff2600;
    color: white;
}

#lwos-close{
    background-color: #599eab;
    color: white;
}

#lwostoTop{
    background-color: #599eab;
    color: white;
}

#tribeca-close{
    background-color: #3dadf8;
    color: white;
}

#tribecatoTop{
    background-color: #3dadf8;
    color: white;
}

/* eggs buttons */
#canadatoTop{
    background-color: red;
    color: white;
}

#canada-close{
    background-color: red;
    color: white;
}


/* eggs buttons */
#eggtoTop{
    background-color: #F15825;
    color: white;
}

#egg-close{
    background-color: #F15825;
    color: white;
}

.eggsploration:hover{
    /* cursor: url("../cursors/orange-cursor.png"), pointer; */
}

/* boobs buttons */
#boobtoTop{
    background-color: #FF95E8;
    color: black;
}

#boob-close{
    background-color: #FF95E8;
    color: black;
}

.boob-stickers:hover{
    /* cursor: url("../cursors/pink-cursor.png"), pointer; */
}

/* bright buttons */
#brighttoTop{
    background-color: #00FF00;
    color: black;
}

#bright-close{
    background-color: #00FF00;
    color: black;
}

.bright:hover{
    /* cursor: url("../cursors/bright-green-cursor.png"), pointer; */
}

/* bata buttons */
#batatoTop{
    background-color: #CC0033;
    color: white;
}


#bata-close{
    background-color: #CC0033;
    color: white;
}


.bata:hover{
    /* cursor: url("../cursors/red-cursor.png"), pointer; */
}

/* crackers buttons */
#crackerstoTop{
    background-color: #B27EED;
    color: white;
}


#crackers-close{
    background-color: #B27EED;
    color: white;
}

.crackers:hover{
    /* cursor: url("../cursors/purple-cursor.png"), pointer; */
}

/* the ex buttons */
#theextoTop{
    background-color: #4EEDFF;
    color: black;
}


#theex-close{
    background-color: #4EEDFF;
    color: black;
}

.theex:hover{
    /* cursor: url("../cursors/light-blue-cursor.png"), pointer; */
}

/* growing greens buttons */
#growinggreenstoTop{
    background-color: #09AF00;
    color: white;
}


#growinggreens-close{
    background-color: #09AF00;
    color: white;
}

.growinggreens:hover{
    /* cursor: url("../cursors/green-cursor.png"), pointer; */
}

/* type design buttons */
#typedesigntoTop{
    background-color: #ff3f93;
    color: white;
}

#typedesign-close{
    background-color: #ff3f93;
    color: white;
}

.typedesign:hover{
    /* cursor: url("../cursors/bright-pink-cursor.png"), pointer; */
}

/* circle stuff */
.circle{
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 8px;
}

#blue{
    background-color: #0000FF;
}

#yellow{
    background-color: #FFD600;
}

#bright-red{
    background-color: red;
}

#orange{
    background-color: #F15825;
}

#magazzinored{
    background-color: #b40000;
}

#orange-red{
    background-color: #ff2600;
}



#black{
    background-color: black;
    /* outline: black 1pt solid; */
    width: 14px;
    height: 14px;
}

#black-stroke{
    background-color: white;
    outline: black 1pt solid;
    width: 14px;
    height: 14px;
}

#lwosblue{
    background-color: #599eab;
}

#tcs{
    background-color: #3dadf8;
}

.orange-cursor{
    /* cursor: url("../cursors/orange-cursor.png"), pointer; */
}

#light-pink{
    background-color: #FF95E8;
}

.light-pink-cursor{
    /* cursor: url("../cursors/pink-cursor.png"), pointer; */
}

#bright-green{
    background-color: #00FF00;
}

.bright-green-cursor{
    /* cursor: url("../cursors/bright-green-cursor.png"), pointer; */
}

#red{
    background-color: #CC0033;
}

.red-cursor{
    /* cursor: url("../cursors/red-cursor.png"), pointer; */
}

#purple{
    background-color: #B27EED;
}

.purple-cursor{
    /* cursor: url("../cursors/purple-cursor.png"), pointer; */
}

#light-blue{
    background-color: #4EEDFF;
}

.light-blue-cursor{
    /* cursor: url("../cursors/light-blue-cursor.png"), pointer; */
}

#green{
    background-color: #09AF00;
}

.green-cursor{
    /* cursor: url("../cursors/green-cursor.png"), pointer; */
}

#bright-pink{
    background-color: #ff3f93;
}

.bright-green-cursor{
    /* cursor: url("../cursors/bright-green-cursor.png"), pointer; */
}

/* aside styling */
aside{
    /* margin-left: 8px;
    margin-right: 8px; */
    margin-left: 0px;
    padding: 34px;
    padding-top: 0px;
    padding-bottom: 14px;
}

@keyframes fadeIn {
	0% { display: none; }
	0% { opacity: 0; }
	100% { opacity: 1; }
	100% { display: block; }
  }

@keyframes fadeOut {
	0% { display: block; }
	0% { opacity: 1; }
	100% { opacity: 0; }
	100% { display: none; }
}


.googlie-info {
    display: none;
    animation: fadeOut 0.2s;

 }

 .googlie-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }

 .canada-info {
    display: none;
    animation: fadeOut 0.2s;
 }

 .canada-info.active {
    display: block;
    animation: fadeIn 0.25s;

 }

 .magazzino-info {
    display: none;
    animation: fadeOut 0.2s;

 }

 .magazzino-info.active {
    display: block;
    /* transition: 0.5s; */
    animation: fadeIn 0.25s;
 }

 .setthebar-info {
    display: none;
    animation: fadeOut 0.2s;

 }

 .setthebar-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }

 .theartpod-info {
    display: none;
    animation: fadeOut 0.2s;

 }

 .theartpod-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }

 .wesleyan-info {
    display: none;
    animation: fadeOut 0.2s;

 }

 .wesleyan-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }


 .lwos-info {
    display: none;
    animation: fadeOut 0.2s;

 }

 .lwos-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }


 .tribeca-info {
    display: none;
    animation: fadeOut 0.2s;

 }

 .tribeca-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }



.eggsploration-info {
    display: none;
    animation: fadeOut 0.2s;
 }

 .eggsploration-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }


 .boob-stickers-info {
    display: none;
    animation: fadeOut 0.2s;
 }

 .boob-stickers-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }

 .bright-info {
    display: none;
    animation: fadeOut 0.2s;
 }

 .bata-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }

 .bata-info {
    display: none;
    animation: fadeOut 0.2s;
 }

 .bright-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }

 .crackers-info {
    display: none;
    animation: fadeOut 0.2s;
 }

 .crackers-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }
 

 .theex-info {
    display: none;
    animation: fadeOut 0.2s;
 }

 .theex-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }
 
 .growinggreens-info {
    display: none;
    animation: fadeOut 0.2s;
 }

 .growinggreens-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }
 
 .typedesign-info {
    display: none;
    animation: fadeOut 0.2s;
 }

 .typedesign-info.active {
    display: block;
    animation: fadeIn 0.25s;
 }

 a:hover{
    cursor: pointer;
 }
 
 @media (min-width: 660px) {

    nav{
        left: 0px;
        top: -30px;
        width: 100%;
    }

    .project{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .project-type-title{
        display: flex;
        margin: 0px;
    }

    .project-type{
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .project-year-title{
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
    }

    .project-year{
        margin: 0px;
    }

    aside{
        margin-left: 10px;
        margin-right: 10px;
    }

    .header{
        gap: 50px;
        margin-top: 55px;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    
    .indent{
        margin-left: 0px;
    }
    
    .project-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 10px;  
    margin-left: 20px;  
    }


    .grid-text{
        /* background-color: red; */
        width: 60vw;
    }

    p{
        max-width: 60vw;
    }

    .video-background{    
        justify-content:center;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        height: auto;
        background-color: #181818;
        padding: 40px;
        gap: 4%;
        width: 100%;
        height: auto;
    }
    
    .small-video{
        width: 30%;
        /* margin-top: 20px; */
        margin: 0px;
        border-radius: 14px;
        position: relative;
        left: -6%;
    }

    .three-image-background{
        justify-content:center;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        height: auto;
        background-color: #181818;
        padding: 40px;
        gap: 4%;
        width: 100%;
        height: auto;
    }
    
    .image-third{
        width: 30%;
        /* margin-top: 20px; */
        margin: 0px;
        /* border-radius: 20px; */
        /* position: relative;
        left: -6%; */
    }

 }

 /* @media (min-width: 660px) { */
 @media (min-width: 900px) {

    .new-part{
        margin-top: 90px;
    }

 
    .description-container{
        display: grid;
        grid-template-columns: 1fr, 1fr;
     }


    .two-images{
        flex-direction: row;
        width: 50%;
     }

    .image-margin{
        position: relative;
        left: 1.8vw;
     }

    .sidebyside {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 2%;
        width: 98%;
        height: auto;
        align-items: flex-start;
    }

    .sidebyside-video {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        height: auto;
        gap: 2%;
      }
    
      .two-videos{
        width: 49%;
        /* margin-top: 20px; */
        /* margin-bottom: 35px; */
        position: relative;
        left: -2%;
        margin-bottom: 10px;
    }

    .half-text{
        width: 50%;
        /* background-color: #0000FF; */
        
    }

    .half-paragraph{
        max-width: 80ch;
    }

    .logo{
        width: px;   
        margin-left: calc(50% - 100px);
    }

     .two-buttons{
        bottom: 10px;
        right: 33px;
    }


    .left{
        margin-left: -1.75vw;
    }

    /* .left2{
        margin-left: -23px;
    } */

    .next-steps{
        margin-top: 10px;
        margin-left: 24px;
    }
    
 }


 @media (min-width: 1100px) {

    p{
        max-width: 34vw;
    }
    
    .grid-text{
        max-width: 34vw;
    }

    .process-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: 10px;  
        margin-left: 0px;  
    }

    .description-container{
        display: grid;
        grid-template-columns: 1fr, 1fr;
     }

     .project-info{
        gap: 180px;
    }

    .header{
        gap: 180px;
    }

        
 }
